* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Lora", serif;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  border: 4px solid red;
}

header {
  background-image: url(../image/header-bckg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header .header-container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-container .logo {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
}
header .header-container .logo:hover {
  color: rgba(255, 255, 255, 0.631372549);
  cursor: pointer;
}
header .header-container .header-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .header-container .header-list .header-item a {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.6;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
header .header-container .header-list .header-item a:hover {
  color: rgba(255, 255, 255, 0.631372549);
  cursor: pointer;
}
header .header-hero {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .header-hero h2 {
  font-weight: 500;
  font-size: 50px;
  line-height: 51px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
header .header-hero p {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.631372549);
  margin-bottom: 31px;
}
header .header-hero .hero-btn {
  padding: 12px 34px;
  font-size: 18px;
  border: 1px solid #DD783F;
  background: #DD783F;
  box-shadow: 0 0 5px #000;
  color: #fff;
  outline: none;
  cursor: progress;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
header .header-hero .hero-btn:hover {
  background: none;
  border: 1px solid #DD783F;
}

.section_one .section_one-wrapper {
  padding: 13px 0;
}
.section_one .section_one-wrapper .one-list .one-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_one .section_one-wrapper .one-list .one-item h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #768088;
}

.section_two .section_two-wrapper {
  padding: 60px 0;
}
.section_two .section_two-wrapper .two-title {
  max-width: 161px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 16px;
}
.section_two .section_two-wrapper .two-title h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 2%;
  color: #2E2E2E;
  margin-bottom: 13px;
}
.section_two .section_two-wrapper .two-title::after {
  content: "";
  display: block;
  max-width: 100%;
  height: 3px;
  background: #e3e6e8;
  margin: 10px auto;
}
.section_two .section_two-wrapper .two-cards {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}
.section_two .section_two-wrapper .two-cards .two-card {
  width: 50%;
  position: relative;
}
.section_two .section_two-wrapper .two-cards .two-card img {
  width: 100%;
  z-index: 1;
}
.section_two .section_two-wrapper .two-cards .two-card .two-info {
  max-width: 100%;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.section_two .section_two-wrapper .two-cards .two-card .two-info .two-btn {
  max-width: 87px;
  padding: 6px 9px;
  border: 1px solid #DD783F;
  background: #DD783F;
  box-shadow: 0 0 5px #000;
  border-radius: 2px;
  color: #fff;
  outline: none;
  cursor: progress;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  transform: translate(0, -88px);
}
.section_two .section_two-wrapper .two-cards .two-card .two-info .two-btn:hover {
  background: none;
  border: 1px solid #DD783F;
}
.section_two .section_two-wrapper .two-cards .two-card .two-info h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0;
  color: #FFFFFF;
  margin-bottom: 6px;
}
.section_two .section_two-wrapper .two-cards .two-card .two-info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.631372549);
  margin-bottom: 12px;
}
.section_two .section_two-wrapper .two-cards .two-card .two-info .two-texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_two .section_two-wrapper .two-cards .two-card .two-info .two-texts .two-text {
  display: flex;
  align-items: center;
  gap: 8px;
}
.section_two .section_two-wrapper .two-cards .two-card .two-info .two-texts .two-text p {
  font-weight: 400;
  font-size: 13px;
  line-height: 35px;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.6980392157);
}

.section_three .section_three-wrapper {
  padding: 80px 0;
}
.section_three .section_three-wrapper .three-title {
  max-width: 161px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 16px;
}
.section_three .section_three-wrapper .three-title h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 2%;
  color: #2E2E2E;
  margin-bottom: 13px;
}
.section_three .section_three-wrapper .three-title::after {
  content: "";
  display: block;
  max-width: 100%;
  height: 3px;
  background: #e3e6e8;
  margin: 10px auto;
}

@media (max-width: 960px) {
  .section_two .section_two-wrapper .two-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .section_two .section_two-wrapper .two-cards .two-card {
    width: 100%;
  }
  .section_two .section_two-wrapper .two-cards .two-card .two-info .two-btn {
    transform: translate(0, -230px);
  }
}
@media (max-width: 760px) {
  .section_two .section_two-wrapper .two-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .section_two .section_two-wrapper .two-cards .two-card {
    width: 100%;
  }
  .section_two .section_two-wrapper .two-cards .two-card .two-info {
    bottom: 5px;
  }
  .section_two .section_two-wrapper .two-cards .two-card .two-info .two-btn {
    transform: translate(0, -220px);
  }
  .section_two .section_two-wrapper .two-cards .two-card .two-info .two-texts img {
    width: 20%;
  }
}
@media (max-width: 660px) {
  header .header-container .header-list {
    gap: 6px;
  }
  header .header-container .header-list .header-item a {
    font-size: 13px;
    text-transform: capitalize;
  }
  header .header-hero {
    padding: 40px 0;
    text-align: center;
  }
  header .header-hero h2 {
    font-size: 29px;
    line-height: 30px;
  }
  header .header-hero p {
    font-size: 15px;
    line-height: 20px;
  }
  header .header-hero .hero-btn {
    padding: 10px 20px;
  }
  .section_two .section_two-wrapper {
    padding: 20px 0;
  }
  .section_two .section_two-wrapper .two-texts {
    max-width: 100%;
  }
  .section_two .section_two-wrapper .two-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .section_two .section_two-wrapper .two-cards .two-card {
    width: 100%;
  }
  .section_two .section_two-wrapper .two-cards .two-card .two-info {
    bottom: 5px;
  }
  .section_two .section_two-wrapper .two-cards .two-card .two-info .two-btn {
    transform: translate(0, -80px);
  }
  .section_two .section_two-wrapper .two-cards .two-card .two-info .two-texts img {
    width: 20%;
  }
}
@media (max-width: 560px) {
  .section_one .section_one-wrapper .one-list .one-item {
    flex-wrap: wrap;
    text-align: center;
  }
  .section_two .section_two-wrapper {
    padding: 20px 0;
  }
  .section_two .section_two-wrapper .two-texts {
    max-width: 100%;
  }
  .section_two .section_two-wrapper .two-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .section_two .section_two-wrapper .two-cards .two-card {
    width: 100%;
  }
  .section_two .section_two-wrapper .two-cards .two-card .two-info {
    bottom: 1px;
  }
  .section_two .section_two-wrapper .two-cards .two-card .two-info .two-btn {
    transform: translate(0, 0px);
  }
  .section_two .section_two-wrapper .two-cards .two-card .two-info .two-texts img {
    width: 20%;
  }
}/*# sourceMappingURL=style.css.map */